@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #f2dfd7;
    color: #30292f;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.card {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    width: 370px;
    overflow: hidden;
    border-radius: 8px;
}

.card-header {
    height: 200px;
}

.card-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content {
    background-color: #fefdfd;
    padding: 30px;
}

.card-title {
    height: 20px;
    margin: 0;
}

.card-excerpt {
    color: #3e282f;
    margin: 10px 0 20px;
}

.author {
    display: flex;
}

.profile-img {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.author-info small {
    color: #6b5c61;
    margin-top: 5px;
}

.animated-bg {
    background-image: linear-gradient(to right, rgba(216,192,237,.7) 0%, rgba(250,221,239,.7) 50%, rgba(225,225,225,.7) 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.animated-bg-text {
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}