@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ff6666;
    color: #E4E3D3;
    font-family: 'Audiowide', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 80px;
    width: 240px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 580px) {
    body {
        flex-direction: column;
    }
}